<html>
<head>
<meta charset="utf-8">
<title>6</title>
<script language="javascript">
<!--
var strHref = window.location.href;
var pageName = strHref.slice(strHref.lastIndexOf("/")+1);
var pageNumber=parseInt(pageName.replace(".html",""));
function forward(){
var aa=pageNumber-1;
window.location.href=aa+".html";
}
function back(){
var bb=pageNumber+1;
window.location.href=bb+".html";
}
//--></script>
</head>
<body>
<h1>这是6.html</h1>
<input type="button" value="上一页"  onclick="forward()"><br>
<input type="button" value="下一页" onclick="back()">
</body>
</html>